# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
# Now let's use your skills in working with weather data to plan future vacations. Use jupyter-gmaps and the Google Places API for this part of the assignment.

#     Note: if you having trouble displaying the maps try running jupyter nbextension enable --py gmaps in your environment and retry.

#     Create a heat map that displays the humidity for every city from the part I of the homework.
#     Narrow down the DataFrame to find your ideal weather condition. For example: 
# ** A max temperature lower than 27 degrees but higher than 21. 
# ** Wind speed less than 15 kph. 
# ** Zero cloudiness. 
# ** Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal. 

# ** Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by your API requests to a reasonable number.

#     Using Google Places API to find the first hotel for each city located within 5000 meters of your coordinates.
#     Plot the hotels on top of the humidity heatmap with each pin containing the Hotel Name, City, and Country.

# As final considerations:

#     You must complete your analysis using a Jupyter notebook.
#     You must use the Matplotlib or Pandas plotting libraries.
#     For Part I, you must include a written description of three observable trends based on the data.
#     For Part II, you must include a screenshot of the heatmap you create and include it in your submission.
#     You must use proper labeling of your plots, including aspects like: Plot Titles (with date of analysis) and Axes Labels.
#     For max intensity in the heat map, try setting it to the highest humidity found in the data set.

In [5]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os


# Access maps with unique API key
gmaps.configure(api_key=g_key)


# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
draft_cities_df_path = "Resources/global_power_plant_database.csv"
draft_cities_df = pd.read_csv("../output_data/cities.csv")
draft_cities_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

In [ ]:
# Create a list containing coordinates
coordinates = [(-31.9523, 115.8613), (-33.8688, 151.2093), (-27.4705, 153.0260)]

In [ ]:
# Customize the size of the figure
figure_layout = {'width': '400px',
                'height': '300px',
                'border': '1px solid black',
                'padding': '1px',
                'margin': '0 auto 0 auto'}

fig = gmaps.figure(layout=figure_layout)

In [ ]:
# Assign the marker layer to a variable
markers = gmaps.marker_layer(coordinates)
# Add the layer to the map
fig.add_layer(markers)
fig

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()

In [9]:
# plot heatmap
heatmap_layer = gmaps.heatmap_layer(draft_cities_df[['Lat', 'Lng']].values, weights=draft_cities_df['Humidity'].values, dissipating=True)

fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [12]:
draft_hotel_df = draft_cities_df
draft_hotel_df["Hotel Name"] = " "
draft_hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16,
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41,
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37,
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47,
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05,
...,...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11,
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05,
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68,
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84,

In [ ]:
# # find the closest restaurant of each type to coordinates

# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {
#     "location": "-31.9523, 115.8613",  # Perth coords
#     "rankby": "distance",
#     "type": "restaurant",
#     "key": gkey,
# }
# # use iterrows to iterate through pandas dataframe
# for index, row in types_df.iterrows():

#     # get restaurant type from df
#     restr_type = row['ethnicity']

#     # add keyword to params dict
#     params['keyword'] = restr_type

#     # assemble url and make API request
#     print(f"Retrieving Results for Index {index}: {restr_type}.")
#     response = requests.get(base_url, params=params).json()
    
#     # extract results
#     results = response['results']
    
#     try:
#         print(f"Closest {restr_type} restaurant is {results[0]['name']}.")
        
#         types_df.loc[index, 'name'] = results[0]['name']
#         types_df.loc[index, 'address'] = results[0]['vicinity']
#         types_df.loc[index, 'price_level'] = results[0]['price_level']
#         types_df.loc[index, 'rating'] = results[0]['rating']
        
#     except (KeyError, IndexError):
#         print("Missing field/result... skipping.")
        
#     print("------------")

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name,Hotel
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16,,None
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41,,None
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37,,None
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47,,None
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05,,None
...,...,...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05,,None
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11,,None
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05,,None
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68,,None
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84,,None

In [ ]:
# I HAVE BEEN TOLD THERE IS AN ERROR HERE

# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = draft_hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure